.card-container{
    font-size: small;
    max-width: 400px;
}

.tabla-usuarios{
    padding-top: 20%;
}

.tabla-usuarios a{
    max-width: 50px;
}

.active{

    background-color: gray !important;
}

a :hover{
    cursor: pointer;
}

td,th {
    align-content: center;
}